<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <!-- <a class="underline-link" href="https://www.upstatement.com/" target="_blank">Upstatement</a> -->
    <p>
      I'm currently studying Computer Science at
      <a class="underline-link" href="https://www.rwth-aachen.de/" target="_blank">RWTH Aachen University</a>.
      I have worked as an independent software developer since 2017 and created some awesome projects.
    </p>

    <p>
      As a software developer, I love building stunning applications from the initial design to the finished product.
      I like exploring new technologies and practices.
      My goal is to build scalable, robust and extensible applications that look beautiful and feel easy to use.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably skiing, playing handball 🤾🏼‍♂️, meeting friends
      or traveling.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
